.navbar{
    background-color:blue;
    width: 100%;
}
.nav-item{
    color: white;
}
.h2servicios{
        color: white;
        background-color: black;
        animation-name: tituloservicios;
        animation-duration: 2s;
        height:100%      
}
@keyframes tituloservicios{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 50%;
        }
        100%{
            opacity: 100%;
        }
}

@mixin size($height,$width,$border-radius) { 
        height:$height ;
        width: $width;
        border-radius: $border-radius;
    
}
.containerserv{
            @include size(200,650px ,20px);
            background-color: rgba(0, 0, 255, 0.61);
            border-color: black;
            margin-top: 10px;
           

}
.h2cursos{
   @extend .h2servicios
}
.articlecursos{
        @include size(400px,650px,10px);
        background-color: blue;
        
        margin-top: 30px;
        margin-bottom: 30px;
        
}
.article1{
        background-image: url(imagenes/alumnosyprofesor.jpg);
        background-size: cover;
}
.article2{
        background-image: url(imagenes/practicantes.jpg);
        background-size: cover;
    
}
.article3{
        background-image: url(imagenes/trabajadormiralacamara.jpg);
        background-size: cover;
}
.article4{
        background-image: url(imagenes/taladro.jpg);
        background-size: cover;
}
.article1:hover{
        transform: scale(1.10);
        transition: all 9s;
}
.article2:hover{
        @extend .article1:hover
}
.article3:hover{
        @extend .article1:hover
}
.article4:hover{
        @extend .article1:hover
}
.titulocursos{
        color: white;  
        background-color: black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
}

.h2clientes{
        @extend .h2servicios
}
.footer{
    background-image: url(imagenes/wave-haikei.svg),url(imagenes/engranajes2.jpg);
    width: 100%;
    height: 100%;
}