*{
    margin:0 ;
    padding: 0%;
}
header{
    display: flex;
    height: 90px; 
    width: 120%;
    background-image:url(imagenes/engranajes2.jpg);
    background-size: center;
    grid-area: header;
} 
header p{
    flex: auto;
    width: 30%;
    font-size: 50px;
    padding-left: 30px;
    text-transform: capitalize;
    font-family: serif;
    color: rgb(245, 244, 241);
    animation-name: header;
    animation-duration: 5s;
    animation-delay: 0;
    animation-iteration-count: 1;
}
@keyframes header {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
        transform: translateX(30px);
    }
}
header nav{
    float: right;
    width:75%;
}
nav ul li{
    display: inline-block;
    margin-left: 70px;
} 
nav a{
    color: darkgray;
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
    font-family: serif;
}
nav a:hover{
    color: firebrick;
} 
.nav{
    grid-area: nav;
    height: 50px;
    background-color: blue;
    background-image: linear-gradient(rgba(255, 255, 255, 0.466),blue);
    border-color: black;
    border-width: 5px;
}
.contenedorservicios{
    grid-area: servicios;
}
.contenedorproyectos{
    grid-area: proyectos;
}
.contenedorclientes{
    grid-area: clientes;
}
#grilla{
    display: grid;
    grid-template-areas: 
    "header nav"
    "main main";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px
}
#main{
    background-image: url(imagenes/shapes.png);
}
.contenedormain{
    display: grid;
    grid-template-areas: 
    "servicios clientes clientes"
    "proyectos proyectos imagenes";
    grid-template-columns: 50% 20% 30%;
}
.h2introduccion{
    width: 100%;
    color:rgb(238, 237, 236);
    background-color: rgba(0, 0, 255, 0.836);
    background-image: linear-gradient(rgba(255, 255, 255, 0.466),blue);
    text-transform: capitalize;
    text-shadow: cornsilk;
    border-style: solid;
    border-color: rgba(6, 6, 7, 0.541);
    border-width: 3px;

}
.Servicios{
    min-height: 70px;
    width: 100%;
    color:rgb(238, 237, 236);
    background-color:rgba(6, 6, 7, 0.726); 
    display: grid;
    grid-template-columns: 35% 35% 30%;
}
.texto1servicios{
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
}
.texto2servicios{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}
.texto3servicios{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}
.texto1servicios:hover{
            transform: scale(1.2);
            text-decoration: solid;
            color: black;
            text-shadow: gray;
            background-color: white;

}
.texto2servicios:hover{
    transform: scale(1.2);
    text-decoration: solid;
    color: black;
    text-shadow: gray;
    background-color: white;
}
.texto3servicios:hover{
    transform: scale(1.2);
    color: black;
    text-decoration: solid;
    text-shadow: gray;
    background-color: white;
}

.imagenesservicios{
    display: flexbox;
    animation-name: imagenes;
    animation-iteration-count: 1;
    animation-duration: 4s;
}
.imagentecnicos{
    width: 300px ;
}
.imagentecnicos:hover{
            transform: scale(1.3);
}
.imagenISO45{
    width: 300px;
}
.imagenISO45:hover{
    transform: scale(1.3);
}
.imagenISO14{
    width: 200px;
}
.imagenISO14:hover{
    transform: scale(1.3);
}
@keyframes imagenes {
       0%{
           opacity: 0;
           
       }     
       50%{
           opacity: 0.5;
       }
       100%{
           opacity: 1;
           transform: translateY(3px);
       }
}
.h2Proyectos{
    color:rgba(238, 237, 236, 0.808);
    background-color: rgba(0, 0, 255, 0.822);
    background-image: linear-gradient(rgba(255, 255, 255, 0.466),blue);
    text-transform: capitalize;
    text-shadow: cornsilk;
    border-style: solid;
    border-color: rgba(6, 6, 7, 0.541);
    border-width: 3px;

}
.Proyectos{
    min-height: 50px;
    width: 100%;
    color:rgb(238, 237, 236);
    background-color:rgba(6, 6, 7, 0.726); 
    display: grid;
    grid-template-columns: 35% 35% 15% 15%;
    
}
.textoproyecto1{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;

}
.textoproyecto2{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;

}
.textoproyecto3{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;

}
.textoproyecto4{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;

}
.textoproyecto1:hover{
    transform: scale(1.2);
    text-decoration: solid;
    color: black;
    text-shadow: gray;
    background-color: white;
}
.textoproyecto2:hover{
    transform: scale(1.2);
    text-decoration: solid;
    color: black;
    text-shadow: gray;
    background-color: white;
}
.textoproyecto3:hover{
    transform: scale(1.2);
    text-decoration: solid;
    color: black;
    text-shadow: gray;
    background-color: white;
}
.textoproyecto4:hover{
    transform: scale(1.2);
    text-decoration: solid;
    color: black;
    text-shadow: gray;
    background-color: white;
}
.h2Clientes{
    color:rgb(238, 237, 236);
    background-color: rgba(0, 0, 255, 0.801);
    background-image: linear-gradient(rgba(255, 255, 255, 0.466),blue);
    text-transform: capitalize;
    text-shadow: cornsilk;
    border-style: solid;
    border-color: rgba(6, 6, 7, 0.541);
    border-width: 3px;
}
.clientes{
    min-height: 50px;
    width: 100%;
    color:rgb(238, 237, 236);
    background-color:rgba(6, 6, 7, 0.726); 
    display: grid;
    grid-template-columns:60% 40%;
    

}
.textoclientes1{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}
.textoclientes2{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}
.textoclientes1:hover{
    transform: scale(1.2);
    text-decoration: solid;
    color: black;
    text-shadow: gray;
    background-color: white;
}
.textoclientes2:hover{
    transform: scale(1.2);
    text-decoration: solid;
    color: black;
    text-shadow: gray;
    background-color: white;
}
#footer{
    display: flex;
    background-color: blue;
    background-image: linear-gradient(rgba(255, 255, 255, 0.466),blue);
    height: 100%;
    grid-area: footer;
}
.h3Redes{
    text-align: center;  
    background-image: linear-gradient(rgba(255, 255, 255, 0.466),blue);
    background-color: blue;
    font-size: 27px;
}
.redSocial{
    display: inline-block;
    margin-left: 10px;
}

@media only screen and (min-width:768px) and (max-width:1239px){
    .grilla{
        display: grid;
        grid-template-areas: 
        "header nav"
        "main main"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 100px ;
    }
    .main{
        grid-area: main;
        display: grid;
        grid-template-areas: 
        "sobrenosotros servicios ";
        grid-template-columns: 30% 70%;
        }
    }
    @media only screen and (min-width:0px) and (max-width:767px){
        .grilla{
            display: grid;
            grid-template-areas: 
            "header nav"
            "main"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px ;
    } 
    .main{
        grid-area: main;
        display: grid;
        grid-template-areas: 
        "sobrenosotros"
        "servicios ";
        grid-template-columns: 30% 70%;
        }
    
    }