@charset "UTF-8";
* {
  margin: 0;
  padding: 0%;
}

.navbar {
  background-color: blue;
}

.nav-item {
  color: white;
}

.tituloint {
  color: rgba(255, 255, 255, 0.863);
}

#jumbotron {
  margin-top: 0%;
  height: 400px;
  background-image: url(imagenes/back-jumbo.svg), url(imagenes/trabajadores2.jpg);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: cover;
  background-position: center top;
  padding: 0%;
}

#jumbotron h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-shadow: 20px;
  -webkit-animation-name: h1jumbotron;
          animation-name: h1jumbotron;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  font-family: verdana;
}

#jumbotron p {
  font-size: 43px;
  color: rgba(220, 20, 60, 0.945);
  text-shadow: 2px 2px 3px 4px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  text-transform: capitalize;
}

@-webkit-keyframes h1jumbotron {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h1jumbotron {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.h1nosotros, .h1servicios {
  color: rgba(255, 255, 255, 0.863);
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(black, rgba(255, 255, 255, 0.76)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.76) black);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  text-align: center;
}

.introduccionsobre {
  font-size: 33px;
}

.pilar1, .pilar2, .pilar3 {
  font-size: 33px;
  text-transform: capitalize;
  color: royalblue;
}

.section1nosotros, .section2nosotros {
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 10px;
}

.section1nosotros p, .section2nosotros p {
  font-size: 16px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-align: justify;
}

.sectionser {
  background-image: url(imagenes/sistemacañeria.jpeg);
  background-size: cover;
}

.columna1 {
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 250px;
  background-image: url(imagenes/trabajador2.jpg);
  background-size: cover;
}

.columna1 p {
  color: darkred;
  font-family: georgia;
}

.columna2 {
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  height: 250px;
  background-image: url(imagenes/fabricaindustrial.jpg);
  background-position: center;
  background-size: cover;
}

.columna2 p {
  color: darkred;
  font-family: georgia;
}

.columna3 {
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  height: 250px;
  background-image: url(imagenes/tecnicoElectrico.jpg);
  background-position: center;
  background-size: cover;
}

.columna3 p {
  color: darkred;
  font-family: georgia;
}

.columna4 {
  background-color: rgba(255, 255, 255, 0.795);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 250px;
  background-image: url(imagenes/RevisionDeEquipo.jpg);
  background-position: center;
  background-size: cover;
}

.columna4 p {
  color: darkred;
  font-family: georgia;
}

.columna5 {
  background-color: rgba(255, 255, 255, 0.795);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
  background-image: url(imagenes/robot.jpg);
  background-size: cover;
  width: 100px;
  height: 250px;
}

.columna5 p {
  color: darkred;
  font-family: georgia;
}

.columna6 {
  background-color: rgba(255, 255, 255, 0.795);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 250px;
  background-image: url(imagenes/TecnicoAjustandoMaquinaria.jpg);
  background-position: center;
  background-size: cover;
}

.boton {
  font-size: 27px;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(rgba(255, 255, 255, 0.705)));
  background-image: linear-gradient(blue, rgba(255, 255, 255, 0.705));
}

#demo1, #demo2, #demo3, #demo4, #demo5, #demo6 {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
}

.columna1:hover {
  opacity: 1.1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 9s;
  transition: all 9s;
}

.columna2:hover {
  opacity: 1.1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 9s;
  transition: all 9s;
}

.columna3:hover {
  opacity: 1.1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 9s;
  transition: all 9s;
}

.columna4:hover {
  opacity: 1.1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 9s;
  transition: all 9s;
}

.columna5:hover {
  opacity: 1.1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 9s;
  transition: all 9s;
}

.columna6:hover {
  opacity: 1.1;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 9s;
  transition: all 9s;
}

.footer {
  background-color: rgba(0, 0, 0, 0.89);
  background-position: cover;
  width: 100%;
  height: 450px;
}

.afooter {
  font-size: 30px;
  text-decoration: none;
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
  .introduccionsobre {
    font-size: 20px;
  }
  .section1nosotros p, .section2nosotros p {
    font-size: 17px;
  }
  .section2nosotros p {
    font-size: 17px;
  }
  .pilar1, .pilar2, .pilar3 {
    font-size: 18px;
    height: 250px;
  }
  .pilar2 {
    font-size: 18px;
    height: 250px;
  }
  .pilar3 {
    font-size: 18px;
    height: 250px;
  }
  .columna1 {
    width: 320px;
    height: 250px;
  }
  .columna2 {
    width: 320px;
    height: 250px;
  }
  .columna3 {
    width: 320px;
    height: 250px;
  }
  .columna4 {
    width: 320px;
    height: 250px;
  }
  .columna5 {
    width: 320px;
  }
  .columna6 {
    width: 320px;
    height: 200px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .section1nosotros p, .section2nosotros p {
    font-size: 25px;
  }
  .section2nosotros p {
    font-size: 25px;
  }
  .pilar1, .pilar2, .pilar3 {
    font-size: 27px;
  }
  .pilar2 {
    font-size: 27px;
  }
  .pilar3 {
    font-size: 18px;
  }
  .columna1 {
    width: 375px;
    height: 270px;
  }
  .columna2 {
    width: 375px;
    height: 270px;
  }
  .columna3 {
    width: 375px;
    height: 270px;
  }
  .columna4 {
    width: 375px;
    height: 270px;
  }
  .columna5 {
    width: 375px;
    height: 270px;
  }
  .columna6 {
    width: 375px;
    height: 270px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  .columna1 {
    width: 425px;
    height: 320px;
  }
  .columna2 {
    width: 425px;
    height: 320px;
  }
  .columna3 {
    width: 425px;
    height: 320px;
  }
  .columna4 {
    width: 425px;
    height: 320px;
  }
  .columna5 {
    width: 425px;
    height: 320px;
  }
  .columna6 {
    width: 425px;
    height: 320px;
  }
}

@media only screen and (min-width: 427px) and (max-width: 769px) {
  .columna1 {
    width: 370px;
    height: 300px;
  }
  .columna2 {
    width: 370px;
    height: 300px;
  }
  .columna3 {
    width: 370px;
    height: 300px;
  }
  .columna4 {
    width: 370px;
    height: 300px;
  }
  .columna5 {
    width: 370px;
    height: 300px;
  }
  .columna6 {
    width: 370px;
    height: 300px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .columna1 {
    width: 490px;
    height: 350px;
  }
  .columna2 {
    width: 490px;
    height: 350px;
  }
  .columna3 {
    width: 490px;
    height: 350px;
  }
  .columna4 {
    width: 490px;
    height: 350px;
  }
  .columna5 {
    width: 490px;
    height: 350px;
  }
  .columna6 {
    width: 490px;
    height: 350px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1441px) {
  .columna1 {
    width: 45%;
    height: 350px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .columna2 {
    width: 45%;
    height: 350px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .columna3 {
    width: 45%;
    height: 350px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .columna4 {
    width: 45%;
    height: 350px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .columna5 {
    width: 45%;
    height: 350px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .columna6 {
    width: 45%;
    height: 350px;
    margin-right: 30px;
    margin-left: 30px;
  }
}
/*# sourceMappingURL=estilos.css.map */