.navbar{
    background-color:blue;
    width: 100%;
}
.nav-item{
    color: white;
}
body{
    background-image: url(imagenes/fabricadeturbinas.jpg);
}
.form-label{
    color: white;
    font-size: 19px;
}
.form-check-label{
    color: white;
    font-size: 16px;
}

.footer{
    background-color: rgba(0, 0, 0, 0.89);
    background-position: cover;
    width: 100%;
    height: 450px;
    
}
.afooter{
    font-size: 30px;
    text-decoration: none;    
    
}